<div class="page page--top">
	<header>
		{{> back-button}}
	</header>

	<h1 class="page__title">Список користувачів</h1>

	<hr class="page__divider">

	<div class="page__section" id="user-list">
		{{!-- <span class="alert alert--error alert--success">Уваґа, ашібка!</span>

		<a href="#" class="user user--click">
			<span class="user__title">test@mail.com</span>
			<span class="user__sub">Адміністратор</span>
		</a>

		<a href="#" class="user user--click">
			<span class="user__title">test@mail.com</span>
			<span class="user__sub">Адміністратор</span>
		</a> --}}


	</div>
</div>