@use '../../style' as s;

:root {
	background-color: black;
}

html {
	min-height: 100%;
	padding: 64px 0;
}

body {
	font-family: 'Roboto', sans-serif;

	max-width: 420px;
	width: 100%;
	margin: auto;
	height: 100%;

	background-color: s.color('background');

	display: flex;
}